#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

# avoid test_jbig2dec.py apparently relying on missing data files
override_dh_auto_test:
	TESTS="test_sha1 test_huffman test_arith" dh_auto_test

# Let d-shlibs resolve dependencies for and install library files
execute_after_dh_install:
	d-shlibmove --commit \
		--exclude-la \
		--multiarch \
		--movedev "debian/tmp/usr/include/*" usr/include/ \
		--movedev "debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/*" \
			usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.so
